[submodule "backend"]
	path = crypto-project-nest
	url = git@github.com:kiarashatri/crypto-project-nest.git
[submodule "frontend"]
	path = crypto-project-angular
	url = git@github.com:kiarashatri/crypto-project-angular.git
