[submodule "crypto-project-angular"]
	path = crypto-project-angular
		url = https://github.com/kiarashatri/crypto-project-angular.git
[submodule "crypto-project-nest"]
	path = crypto-project-nest
		url = https://github.com/kiarashatri/crypto-project-nest.git
